/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    font-size: larger;
}


.fa-person {
    font-size: x-large;
}


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo {
    width: auto;
    height: 20px;
    padding: 30px 50px 30px 50px;
}

p {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

/*****En-tête de page*****/
.nav {
    margin: 30px ;   
}

header {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
}

.nav:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid;
    padding-top: 6.5px;  
}

/****Section supérieure****/
.section-title {
    margin: 0;
    font-size: 22px;
}

.find-hebergement-form {
    display: flex;
    padding-top: 5px;
}

form {
    display: flex;
    width: 377px;
    height: 49px;
    margin: 15px 30px 15px 0;
}

.fa-location-dot {
    font-size: large;
    color: black;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 15.5px;
}

:placeholder-shown {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

input::placeholder {
    color: black;
}

#search-button {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    border: var(--main-color) solid;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 16px 15px 16px;
    
}

#search-text-button {
    display: block;
}

#search-logo-button {
    display: none;
}

#form {
    border: var(--main-bg-color) solid;
    padding: 13px;
}

#filter-bar {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

#filter-text {
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
}

#filter-button-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-button {
    height: 54px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    border: #d9d9d9 solid 2px;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-size: 17px;
    font-weight: bold;
}


.filter-button:hover {
    background-color: var(--filter-bg-color);
}

#info-bar {
    display: flex;
    gap: 10px;
    font-size: 16px;
    margin-top: 35px;
    align-items: baseline;
}

#info-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-info {
    font-size: small;
    width: 24px;
    height: 24px;
    border: #d9d9d9 solid 1px;
    border-radius: 50px;
    text-align: center;
    margin-top: 10px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

#hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#hebergements-cards img {
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

#hebergements-cards .card-subtitle {
    margin-top: 8px;
    margin-bottom: 4px;
}

#hebergements-cards .card-rating {
    margin-top: 4px;
    padding-bottom: 10px;
}

#show-more {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 30px 0 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****Activités dans la ville****/

#activities {
    margin-bottom: 35px;
}

#activities section {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#activities-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    justify-content: space-between;
}

#activities-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 297px;
    height: 100%;
}

#activities-cards img {
    width: 297px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

#activities-cards .card-title {
    font-weight: 700;
    margin: 0;
}

#activities-cards .card-content {
    display: flex;
    align-items: center;
    width: 260px;
    height: 19px;
    padding: 20px 19px 20px 19px;
}


/*******Pied-de-Page*******/


#footer {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

.footer-section h3 {
    display: flex;
    margin: 0;
    color: black;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word
}

.footer-section {
    display: flex;
    flex-direction: column;
    width: 407px;
    height: auto;
    padding: 20px;
}

.footer-section-content p {
    margin-top: 15px;
    margin-bottom: 0;
    color: black;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 400;
    word-wrap: break-word
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    #filter-bar {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    .hebergements-and-populaires {
        width: 100%;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activities {
        width: 100%;
    }

    #activities section {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    #activities-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
        grid-gap: 20px;
        justify-content: center;
    }
    
    #activities-cards .card {
        width: 100%; /* Ajustement pour s'adapter à la grille */
        margin: 0;
    }

    #activities-cards .card-content {
        width: 156px;
    }

    #activities-cards img {
        width: 100%;
        height: 200px; /* Hauteur fixe pour maintenir la cohérence */
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {


    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin: 0;
        padding: 30px;
    }

    main {
        max-width: 100%;
    }

    .main-container {
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }


    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: var(--main-bg-color) 2px solid;
        padding-bottom: 15px;
    }

    .nav {
        margin: 0;
    }

    .nav:hover {
        border-top: var(--main-color) 0;
        padding-top: 0;
    }

    nav a:hover {
        position: relative;
        display: block; 
    }

    nav a:hover::after {
        content: ''; /* Nécessaire pour afficher un pseudo-élément */
        position: absolute; /* Positionne par rapport au lien */
        bottom: -17px; /* Positionne juste en dessous du lien, ajustez selon l'épaisseur de la bordure */
        left: 50%; /* Commence au milieu du lien */
        transform: translateX(-50%); /* Centre le pseudo-élément */
        width: 50vw; /* Utilise vw pour la largeur en fonction de la largeur de l'écran */
        height: 1px; /* Épaisseur du trait bleu */
        background-color: var(--main-color); 
        border-top: 2px solid var(--main-color); /* Ajoute un bord pour couvrir la bordure grise */
        z-index: 10; /* S'assure que le trait bleu passe par-dessus la bordure grise */
    }


    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    .hebergements-and-populaires .populaires {
        padding: 30px 20px 30px 20px;
    }


    .hebergements-and-populaires .hebergements {
        background-color: white;
    }



    #introduction {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 20px 0 20px;
    }


    .section-title {
        margin-bottom: 8px;
        width: 100%;
    }

    #text-subtitle {
        width: 100%;
        margin-top: 0;
        margin-bottom: 35px;
    }

    .find-hebergement-form {
        padding-top: 0;
    }

    #search-text-button {
        display: none;
    }
    
    #search-logo-button {
        display: block;
    }


    input::placeholder {
        font-size: 16px;
    }

    #search-text-button,
    #search-logo-button,
    form {
        width: 100%;
        align-items: center;
    }

    form {
        margin-right: 0;
        justify-content: center;
    }

    #search-button {
        font-size: 16px;
        border-radius: 15px;
    }

    #filter-bar {
        max-width: 425px;
        width: 100%;
        flex-direction: column;
        gap: 0;
        height: auto;
    }

    .filter-button {
        font-size: 16px;
        padding: 8px 15px;
        width: 162px;
        height: 50px;
    }

    #filter-button-group {
        flex-wrap: wrap;
        gap: 10px;
        max-width: 100%;
        justify-content: space-evenly;
    }

    #info-bar {
        height: 38px;
        margin-top: 20px;
        align-items: center;
    }

    .fa-info {
        margin-top: 5px;
    }

    .card img {
        height: 200px;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }


    .populaires-cards {
        display: grid;
        justify-content: center;
    }

    .populaires-cards .card {
        width: 325px;
        height: 136px;
    }

    .populaires-cards img {
        height: auto;
    }

    .populaires-cards .card-content {
        width: fit-content;
    }

    #hebergements-cards {
        flex-direction: column;
    }

    #hebergements-cards img {
        width: auto;
    }

    #hebergements-cards .card,
    .populaires-cards .card {
        margin-top: 20px;
    }

    #hebergements-cards .card {
        width: 335px;
    }

    .populaires {
        margin-top: 0;
        margin-bottom: 15px;
    }

    #activities-cards {
        gap: 15px;
        justify-items: center;
    }

    #activities-cards img {
        width: auto;
        height: 141px;
    }

    #activities-cards .card {
        width: 315px;
        height: auto;
    }

    #footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-section {
        width: fit-content;
        margin-bottom: 20px;
    }

    .footer-section-content p {
        font-size: 14px;
    }
}


@media (max-width: 425px) {

    #introduction {
        width: 100%;
        box-sizing: border-box;
    }

    #filter-button-group {
        align-items: center;
    }

    .filter-button {
        width: 48%; 
        margin-bottom: 10px;
    }

    .filter-button p {
        font-size: 14px;
    }

    #info-logo {
        width: 29px;
    }

}


@media (max-width: 375px) {
    
    .populaires-cards .card {
    width: 300px;
    }

    #info-logo {
        width: 32px;
    }
}

@media (max-width: 320px) {

    .populaires-cards .card {
        width: 250px;
    }

}